<!DOCTYPE html>
<html>
<head>
	<title>Chuie's personal game replays</title>
	<style>
		body {
			font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 20px;
			padding-right: 20px;
		}

		code {
			font-size: 14px;
			background-color: #eee;
			color: #D32F2F;
			padding: 3px;
		}

		kbd {
			font-size: 14px;
			background-color: #222;
			color: #fff;
			padding: 3px;
			border-radius: 4px;
		}

		h3 {
			margin-bottom: 4px;
		}

		p {
			margin-top: 0px;
			line-height: 20px;
		}
	</style>
</head>
<body>
<h1>Chuie's personal game replays</h1>
<p>Tip: Go to your match history at <a href="http://matchhistory.na.leagueoflegends.com/en/" target="_blank">for NA</a> or <a href="http://matchhistory.oce.leagueoflegends.com/en/" target="_blank">for OCE</a>, find the game you want the recording for, and copy and paste the number on the left of the end of the URL into <kbd>Cmd + F</kbd>. Ex: if the URL was <code>http://matchhistory.na.leagueoflegends.com/en/#match-details/NA1/1751819724/38757686?tab=overview</code>, then the number I would put in <kbd>Cmd + F</kbd> would be <code>1751819724</code>.</p>
{{range .games}}
<h3>{{.GameId}}</h3>
<p class="game-entry">
	<span class="copy-pasta">Copy and paste the following into LoL Spectator:</span><br>
	<code>
	spectator replays.onelann.tk:80 {{.EncryptionKey}} {{.GameId}} {{.Region}}
	</code><br>
	{{if eq .Region "NA1"}}
	<a href="http://matchhistory.na.leagueoflegends.com/en/#match-details/{{.Region}}/{{.GameId}}/0" target="_blank">View on matchhistory</a>
	{{end}}
	{{if eq .Region "OC1"}}
	<a href="http://matchhistory.oce.leagueoflegends.com/en/#match-details/{{.Region}}/{{.GameId}}/0" target="_blank">View on matchhistory</a>
	{{end}}
</p>
{{end}}
</body>
</html>
